*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

html{
    font-size: 62.5%;
}

body{
    background-color: darkolivegreen;
}

section{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.ultimo-objeto-lido, #file{
    display: block;
}

.visible{
    visibility: hidden;
}
.ultimo-objeto-lido, h1{
    font-size: 10rem;
    width: 80rem;
    height: 13rem;
    text-align: center;
    background-color: white;
}

.form-todo{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

form{
    display:flex;
    border-radius: 0.5rem;
    gap:0.5rem;
    width: 60rem;
    height: 8rem;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.task{
    width: 50rem;
    height: 4rem;
}

#btn-cadastrar{
    color: azure;
    background-color:green;
    width: 8rem;
    height: 4rem;
}

#btn-cadastrar:hover{
    color: green;
    background-color: azure;
}



